<div class="wordTitle">
  <%= @user.name %>さんの投稿一覧
</div>
<% @words.each do |word| %>
  <div class="content">
    <div class="content__right">
      <div class="content__right__top">
        <%= link_to word.title, word_path(word.id), class: "content__right__top--title" %>
        <%= word.impressionist_count %>回確認済
      </div>
    </div>
  </div>
<% end %>
<%= paginate(@words) %>