<div class="content">
  <div class="content__word">
    <div class="content__word__title">
      <%= link_to word.title, word_path(word.id), class: "content__word__title--name" %>
    </div>
    <div class="content__word__user">
      <%= link_to word.user.name, user_path(word.user), class: "content__word__user--name" %>
    </div>
      <%= render 'likes/like', word: word %>
  </div>
</div>
