<div class="newcontent__title">
  新規作成
</div>

<%= form_with model: @word, class: :form, local: true do |form| %>
<%# @wordに保存するアクション %>
  <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  <%= form.text_area :explanation, placeholder: :説明文, class: :form__text %>
  <%= form.submit '投稿',data: { disable_with: "登録中..." },class: :form__btn %>
<% end %>