<div class="content__title">
  新規記事の作成
</div>

<%= form_with model: @word, class: :form, local: true do |form| %>
<%# @wordに保存するアクション %>
  <%= form.text_field :title, placeholder: :暗記項目, class: :form__title %>
  <%= form.text_area :explanation, placeholder: :説明文, class: :form__text %>
  <%= form.submit '投稿する', class: :form__btn %>
<% end %>