body{
  min-width: 650px;
  background-image: image-url("freenut.jpg");
  background-size: cover;
  .header{
    height: 100px;
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    &__title{
      font-size: 50px;
      line-height: 100px;
      &--text{
        font-family: fantasy;
        text-decoration: none;
        color: darkblue;
        text-shadow: 0 15px 15px;
        letter-spacing: 3px;
        cursor: pointer;
      }
    }
    &__top{
      color: black;
        span {
          top: 33px;
          width: 100px;
          float: left;
          font-size: 25px;
          text-align: center;
          text-shadow: 0 15px 15px;
          cursor: pointer;
          position: relative;
          &:after {
            font-size: 25px;
            margin-left: -4px;
          }
          &:hover ul {
            display: block;
          }
        }
        ul {
          font-size: 20px;
          display: none;
          position: absolute;
          right: 0;
          box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
          a{
            text-decoration: none;
            color: black;
            -webkit-border-radius: 15px;
            font-weight: bold;
            &:hover{
              background-color: rgba($color: blue, $alpha: 1.0);
            }
          }
        } 
      &--btn{
        text-decoration: none;
        line-height: 100px;
        color: black;
        margin-left: 15px;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
        -webkit-border-radius: 15px;
        &:hover{
          background-color: rgba($color: blue, $alpha: 1.0);
        }
      }
    }
  }
  .contents{
    margin: 30px auto 0;
    height: calc(100vh - 56px);
    width: 70%;
    overflow: scroll;
    .search-form{
      text-align: center;
    }
    .wordlist{
      padding: 10px;
      margin-top: 20px;
      margin-left: 100px;
      .content{
        &__word{
          &__title{
            cursor: pointer;
            &--name{
              color: blue;
              font-size: 25px;
            }
          }
          &__user{
            font-size: 15px;
            &--name{
              cursor: pointer;
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
    .pagination{
      font-size: 30px;
      color: black;
      font-weight: bold;
      padding-top: 30px;
      text-align: center;
      cursor: pointer;
      a{
        color: black;
      }
    }
    .wordTitle{
      padding-top: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0 15px 15px;
    }
    .listbox{
      display: flex;
      width: 100%;
      padding: 10px;
      .listmain{
        width: 50%;
        text-align: center;
        p{
          font-size: 30px;
          color: blue;
          text-decoration: underline;
        }
        .userlist{
          &__box{
            font-size: 25px;
            margin: 0;
            p{
              color: black;
              font-size: 15px;
              text-decoration: none;
            }
            a{
              color: black;
              cursor: pointer;
              font-weight: bold;
              -webkit-border-radius: 15px;
              text-decoration: none;
              &:hover{
                background-color: rgba($color: blue, $alpha: 1.0);
              }
            }
            &--count{
              font-size: 15px;
            }
          }
        }
      }
      .userfavorite{
        text-align: center;
        width: 50%;
        p{
          font-size: 30px;
          color: blue;
          text-decoration: underline;
        }
        .sublist{
          &--word{
            display: block;
            font-size: 25px;
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
            -webkit-border-radius: 15px;
            &:hover{
              background-color: rgba($color: blue, $alpha: 1.0);
            }
          }
        }
      }
    }
  }
  .wordDate{
    font-size: 20px;
    color: darkblue;
    text-align: center;
  }
  .wordManage{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__edit{
      display: block;
      border-radius: 5px;
      color: black;
      font-size: 25px;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
    &__delete{
      display: block;
      border-radius: 5px;
      color: red;
      font-size: 25px;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  .wordText{
    margin: 20px 30px;
    padding: 0 20px 0 ;
    background-color: whitesmoke;
    font-size: 25px;
  }
  .container{
    text-align: center;
    #comment-area{
      width: 400px;
      height: 60px;
    }
    #comment-btn{
      cursor: pointer;
      margin-top: 10px;
      line-height: 30px;
      width: 80px;
    }
    p{
      font-size: 20px;
      color: red;
      font-weight: bold;
    }
  }
  .comments{
    margin: 0 30px;
    h4{
      font-size: 30px;
      text-align: center;
      color: orangered
    }
    &__list{
      padding: 10px 20px 10px ;
      background-color: whitesmoke;
      color: black;
      font-size: 20px;
      &__name{
        text-decoration: none;
      }
    }
  }
  .newcontent__title{
    text-align: center;
    font-size: 30px;
  }
  .form{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title{
      display: block;
      width: 100%;
      height: 50px;
    }
    &__text{
      display: block;
      width: 100%;
      height: 50%;
      margin: 15px auto 0;
    }
    &__btn{
      display: block;
      width: 30%;
      margin: 15px auto 0;
    }
  }
  .user{
    padding: 15px 30px;
  }
  h2{
    text-align: center;
    font-size: 30px;
  }
  label{
    font-size: 20px;
  }
  .field{
    text-align: center;
    #user_name{
      width: 200px;
    }
    #user_email{
      width: 200px;
    }
    #user_password{
      width: 200px;
    }
  }
  .actions{
    margin-top: 20px;
    text-align: center;
  }
}
  
